*{
	padding: 0;
	margin: 0;
}
body{
	font-size: 18px;
	font-family: Tahoma;
	line-height: 30px;
	letter-spacing: 2px;
	background-color: #91C1FB;
}
.banner{
	text-align: center;
	padding: 30px;
	background-color: #BDA7FA;
	position: relative;
	
}
.menu{
	background-color: #0C0B0B;
}
.menu ul{
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
.menu ul li{
	display: inline-block;
	

}

.menu  a{
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 10px;
}
.menu a:hover{
	background-color: yellow;
	color: #000;
}
.left{
	width: 74%;
	float: left;
	margin-right: 1%;
	margin-left: 0.5%;
}
.right{
	width: 23%;
	float: left;
	margin-right: 1%;
}
.card{
	margin-top: 10px;
	padding: 20px;
	background-color: #FFFFFF;
}
.cardImage img{
	width: 100%;
	height: auto;
	margin-top: 5px 0;
}
.row{
	background-color: #73BEF2;
}
.footer{
	padding: 30px;
	background-color: #BDA7FA;
	clear: both;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}


.logo img{

	width: 15%;
	height: auto;
	float: left;
	position: absolute;
	left: 20px;
	top: 15px;

}

.menu input[type="text"] {
	margin-top: 2px;
	width: 200px;
	padding: 15px;


}